/********************
Base element CSS styles. Also described as atoms. Customize to the needs of the project.

Includes elements such as anchors, buttons, etc.
********************/

html {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #123456;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: repeat-y;
  color: #464e54;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 6px 0 0 6px;
}

::-moz-selection {
  background-color: red;
  color: red;
}

::selection {
  background-color: red;
  color: red;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  cursor: pointer;
}

a:visited {
  color: #000;
}

button {}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #FFF;
  border: 1px solid #000;
  appearance: none;
  backface-visibility: hidden;
}

button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  color: #FFF;
  background-color: #000;
}

button:focus {}

button:hover {
  cursor: pointer;
}

label {}

input[type="text"]:focus {}

button[disabled],
html input[disabled] {
  cursor: default;
}
